<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Post</title>
    <span th:replace="~{homePage :: bootstrapImports}"></span>
</head>
<body>
<span th:replace="~{homePage :: navbar}"></span>

<main class="container-fluid">

        <div class="row">
            <div class="col-md-8 offset-md-2 mt-5">
                <h1 th:text="${post.title}"></h1>
                <h6 class="text-muted" th:text="${post.author}"></h6>
                <p th:text="${post.description}"></p>
                <hr>
                <p th:text="${post.content}"></p>
                <hr>
                <div class="d-flex justify-content-end mb-2">
                    <a th:href="@{/post/delete/{id}(id=${post.id})}" class="btn btn-outline-danger me-2">Delete article</a>
                    <a th:href="@{/post/edit(id=${post.id})}" class="btn btn-outline-warning">Edit</a>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-8 offset-md-2 mt-5">
                <div class="d-flex justify-content-between">
                    <h3>Comments</h3>
                    <a class="btn btn-outline-primary" data-bs-toggle="modal" data-bs-target="#addCommentModal">Add comment</a>
                </div>
                <hr>
                <div th:each="comment : ${post.comments}">
                    <div class="card mb-3 border-0">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${comment.author}"></h5>
                            <p class="card-text" th:text="${comment.content}"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<!--    addCommentModal   -->

    <div class="modal fade" id="addCommentModal" tabindex="-1" aria-labelledby="addCommentModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addCommentModalLabel">Add Comment</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <form id="commentForm" th:action="@{/addComment}" method="post" th:object="${comment}">
                        <div class="mb-3">
                            <label for="commentAuthor" class="form-label">Author</label>
                            <input type="text" class="form-control" id="commentAuthor" name="author"  th:field="*{author}">
                        </div>
                        <div class="mb-3">
                            <label for="commentEmail" class="form-label">Email</label>
                            <input type="text" class="form-control" id="commentEmail" name="email" th:field="*{email}">
                        </div>
                        <div class="mb-3">
                            <label for="commentContent" class="form-label">Content</label>
                            <textarea class="form-control" id="commentContent" name="content" rows="3" th:field="*{content}"></textarea>
                        </div>
                        <input type="text" name="postId" th:value="${post.id}">
                        <button type="submit" class="btn btn-outline-primary">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</main>

<span th:replace="~{homePage :: footer}"></span>
</body>
</html>