<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Page B</title>
    <span th:replace="~{pagea :: bootstrapImports}"></span>
</head>
<body class="container-fluid">
    <header>
        <h1 class="text-center">Mes Lapins</h1>
        <nav>
            <a class="btn btn-outline-primary" th:href="@{/}">Home Page</a>
            <a class="btn btn-outline-primary" th:href="@{/detail/{id}(id=${rabbitId})}">Detail d'un lapin</a>
            <a class="btn btn-outline-primary" th:href="@{/add}">mon formulaire</a>
        </nav>
    </header>
    <main>
        <hr>
        <div class="col-3">
            <ul th:unless="${rabbits == null}" class="list-group">
                <li class="list-group-item list-group-item-warning" th:each="r : ${rabbits}">
                    <a class="btn btn-outline-danger" th:href="@{/detail/{id}(id=${r.id})}">
                        <i class="bi bi-eye m-1"></i>
                        <span th:text="${r.name}"></span>
                    </a>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>