<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <span th:replace="~{pagea :: bootstrapImports}"></span>
</head>
<body>
    <header>
        <span th:replace="~{home :: navbar}"></span>
    </header>
    <main>
        <form th:action="@{/add}" th:object="${student}" method="post">
            <div>
                <label for="firstname"> Firstname :</label>
                <input type="text" id="firstname" th:field="*{firstName}">
            </div>
            <div>
                <label for="lastname"> Lastname :</label>
                <input type="text" id="lastname" th:field="*{lastName}">
            </div>
            <div>
                <label for="age"> Age :</label>
                <input type="text" id="age" th:field="*{age}">
            </div>
            <div>
                <label for="email"> Email :</label>
                <input type="email" id="email" th:field="*{email}">
            </div>
            <button>Submit</button>
        </form>
    </main>
</body>
</html>